/* font-family: 'Engagement', cursive;
font-family: 'Poppins', sans-serif; */

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 55px;
}
p {
    color: gray;
}

a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    align-items: center;
    margin: 0 3%;
    
}
.logo {
	width: 20%;
    font-family: 'Engagement', cursive;
    font-size: 50px;
}

#logo-color {
    color: #EF4822;
}
.menu {
    width:80%;
}
.menu ul {
	display: flex;
    justify-content: flex-end;

}

.menu ul li {
	list-style: none;
	
}
.menu ul li a {
	font-size: 18px;
	color: #232323;
	padding: 12px;
	text-transform: uppercase;

}
.order-area {
    margin-bottom: 50px;
}

.flaxiball-container {
    display: flex;
}

.half-width {
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;


}
.orange-text {
    color: orange;
}

.order-area img {
    width: 80%;
}

.order-area .half-width {
    margin-left: 70px;
}

.order-area h1 {
    padding-top: 50px;
}
.button {
    background: linear-gradient(red, orange); 
    color: #fff;
    padding: 10px 40px;
    border-radius: 30px;
    display: inline-block;
    margin-top: 20px;
}

.about-area {
    background-image: url(images/about-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    padding: 4% 0;
}

.about-area img {
    width: 100%;
    height: fit-content;
}


