/* font-family: 'Engagement', cursive;
font-family: 'Poppins', sans-serif; */

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 55px;
}
h2 {
    font-size: 35px;
    color: grey;
}
p {
    color: gray;
}

a {
    text-decoration: none;
    color: black;
}

header {
    align-items: center;
    margin: 0 3%;
    
}
.logo {
	width: 25%;
    font-family: 'Engagement', cursive;
    font-size: 60px;
}

#logo-color {
    color: #EF4822;
}
.menu {
    width:75%;
}
.menu ul {
    justify-content: flex-end;

}

.menu ul li {
	list-style: none;
	
}
.menu ul li a {
	font-size: 18px;
	color: #232323;
	padding: 12px;
	text-transform: uppercase;

}
.order-area {
    margin-bottom: 50px;
}

.flaxiball-container {
    display: flex;
}

.half-width {
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;


}
.orange-text {
    color: orange;
}

.order-area img {
    width: 80%;
}

.order-area .half-width {
    margin-left: 70px;
}

.order-area h1 {
    padding-top: 50px;
}
.button {
    background: linear-gradient(red, orange); 
    color: #fff;
    padding: 10px 40px;
    border-radius: 30px;
    display: inline-block;
    margin-top: 20px;
}

.about-area {
    background-image: url(images/about-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    padding: 4% 0;
}

.about-area img {
    width: 100%;
    height: fit-content;
}
.recipe-area {
    margin-bottom: 50px;
}

.my-recipes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    
}

.my-recipes h2 {
    width: 100%;
}

.my-recipes p{
    width: 60%;
}
.recipe-item {
    width: 33.33%;
    margin: 3%;
    box-shadow: 5px 5px 15px gray;
    padding: 1.5%;
    border-radius: 20px;
}


.recipe-item img{
    width: 100%;
    height: 60%;
    border-radius: 20px;
}

.followers-area {
    margin-bottom: 50px;
}

.followrs-item {
    width: 33.33%;
    text-align: center;
}

.followrs {
    box-shadow: 5px 5px 15px gray;
    margin: 0 2%;
}

.followrs-item p {
    margin-top: -45px;
}

footer {
    text-align: center;
    margin-top: 50px;
    margin-bottom: -50px;
    padding: 50px 0 40px;
    background-color: rgb(0, 0, 0);
}


footer a {
    font-size: 40px;
    font-family: 'Engagement', cursive;
    color: #fff;

}


footer q {
    font-size: 18px;
    color: gray;
    display: block;
}







